# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# My
[Bb]in/
[Bb]in64/
[Bb]uild*/
*.7z
*.zip
*.rar
*.tar
*.gz
*.xz
*.exe
*.lib
*.pdb
*.ilk
*.exp
*.obj
build.user.bat
build.user.sh
user.conf
[Dd]oc/
[Dd]ocs/
Thumbs.db
*.rc
*.qm
*.bin
*.run
.qmake.conf
*.res
.DS_Store
.vscode/
.vs/
.cmake.conf
