#include <windows.h>

IDI_ICON1 ICON "icon.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments",         "Built by the Qt Toolkit."
            VALUE "CompanyName",      "wangwenx190"
            VALUE "FileDescription",  "A framelesshelper based Qt application."
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "flh-test-app"
            VALUE "LegalCopyright",   "MIT License"
            #ifdef _DEBUG
            VALUE "OriginalFilename", "framelessapplicationd.exe"
            #else
            VALUE "OriginalFilename", "framelessapplication.exe"
            #endif
            VALUE "ProductName",      "Test Application"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
